{% extends "layouts/dashboard.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/add-prof.css') }}">
{% endblock %}

{% block title %}
{{ current_page}}
{% endblock %}

{% block view %}
<div id="form-wrapper" class="view container">
    <fieldset class="border p-4" id="infos-prof">
        <legend class="float-none w-auto p-1">Inscription</legend>
        {{ form(form) }}
    </fieldset>
</div>
{% endblock %}